[Unit]
Description=milbot atnd server daemon
Documentation=https://github.com/high-moctane/milbot
After=bluetooth.service

[Service]
ExecStart=SERVER_NAME=localhost PORT=8080 /usr/bin/python3 -B /opt/milbot/bluetooth_server/main.py
ExecReload=/bin/kill $MAINPID
ExecStop=/bin/kill $MAINPID
Restart=always

[Install]
RequiredBy=milbot.service