[Unit]
Description=milbot slack bot
Documentation=https://github.com/high-moctane/milbot
Requires=docker.service milbot-bluetooth.service milbot-redis.service

[Service]
ExecStart=/opt/milbot/bin/start_milbot.sh
ExecStop=/usr/bin/docker stop milbot
Restart=always

[Install]
WantedBy=milbot.target