[Unit]
Description=milbot redis server daemon
Documentation=https://github.com/high-moctane/milbot
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker start -a milbot-redis
ExecStop=/usr/bin/docker stop milbot-redis
Restart=always

[Install]
WantedBy=milbot.target