[Unit]
Description=milbot server daemons
Documentation=https://github.com/high-moctane/milbot
Requires=docker.service bluetooth.target
After=docker.service bluetooth.target

[Install]
RequiredBy=default.target