[Unit]
Description=milbot atnd server daemon
Documentation=https://github.com/high-moctane/milbot
Requires=bluetooth.target

[Service]
ExecStart=/usr/bin/python3 -B /opt/milbot/bluetooth_server/main.py
ExecStop=/bin/kill $MAINPID
Restart=always

[Install]
RequiredBy=milbot.target